.songs{
    width:1200px;
    margin:0 auto;
    border-radius:6px;
    box-shadow:0px 0px 4px rgb(125,125,125,0.6);
    padding:20px 40px;
}
.songs .songsItem{
    height:60px;
    line-height:60px;
    padding:0 10px;
    cursor: pointer;
}
.songs .songsItem:hover{
    background:rgba(125,125,125,0.1)
}
.songs .song{
    padding-left:10px;
}
.songs .info{
    float:right;
    display: flex;
    width:40%;
}

.songs .info .artist,.alias{
    flex:2;
    text-align:left;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.albums{
    width:1200px;
    margin:0 auto;
    border-radius:2px;
    box-shadow:0px 0px 4px rgb(125,125,125,0.6);
    padding:10px 20px;
    display: flex;
    flex-wrap: wrap;
}
.albums .albumsItem{
    width:200px;
    margin:6px 16px;
    overflow: hidden;
    cursor:pointer;
}
.albums img{
    width:200px;
    height:200px;
    border-radius:6px;
    margin-bottom:6px;
}
.albums .title{
    font-weight: bold;
    font-size:16px;
    line-height:16px;
    color:rgb(0,0,0);
}
.albums p{
    font-size:14px;
    line-height:14px;
    color:rgb(125,125,125);
}

.playlists{
    width:1200px;
    margin:0 auto;
    border-radius:2px;
    box-shadow:0px 0px 4px rgb(125,125,125,0.6);
    padding:40px 20px;
}
.playlists .playlistsItem{
    padding:6px;
}
.playlists .playlistsItem:nth-child(2n){
    background:rgba(250,250,250);
    padding:6px;
}
.playlists .playlistsItem:hover{
    background:rgba(245,245,245);
    cursor:pointer;
}
.playlists img{
    width:65px;
    height:65px;
    border-radius:4px;
}
.playlists .name{
    padding:0 20px;
    line-height:65px;
}
.playlists .info{
    float:right;
    width:400px;
    height:65px;
    line-height:65px;
    display: flex;
    justify-content: space-between;
}

.videos{
    width:1200px;
    margin:0 auto;
    border-radius:2px;
    box-shadow:0px 0px 4px rgb(125,125,125,0.6);
    padding:40px 20px;
    display: flex;
}

.videos .videosItem{
    max-width:220px;
    margin:10px;
    color:rgba(125,125,125);
    box-sizing: border-box;
    border-radius:8px;
    display: block;
}
.videos .videosItem:hover{
    background:rgba(245,245,245);
    cursor:pointer;
}
.videos .videosItem img{
    width:220px;
    height:120px;
    border-radius:4px;
}
.videos .info{
    padding:10px;
}
.videos .title{
    height:40px;
    font-weight: bold;
    color:rgb(0,0,0);
}